* {
    box-sizing:border-box;
}
body{
    background: hsl(240, 20%, 11%);
    font-family: 'Josefin Sans', sans-serif;
}

a {
    position: fixed;
    right: 5%;
}
ul{
    margin:0;
    padding-top:10px;
    padding-left:0px
}
ul li{

    cursor:pointer;
    position:left;
    text-indent: 20px;

    padding:10px;
    background: hsl(234, 23%, 19%);
    font-size: 14px;
    transition:0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

#Lista{
    color: white;
}
ul li:nth-child(odd){
    background: rgb(77, 4, 133);
}

ul li:hover{
    background: rgb(115, 252, 73);
    color: black;
}
ul li.checked{
    background:rgb(160, 56, 245);
    color: rgb(78, 77, 76);
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: fixed;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    /* /* top: 10px; */
    left: 16px; 
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

#AddTask{
    cursor: pointer;
    padding: 2px;
    background: rgb(230, 208, 200);
    border-radius: 5px;
    float: inline-end;
    font-size: 13px;
    transition: 0.3s;
    width: auto;
    height: auto;
    display: none;
    text-align: bottom;
    text-size-adjust: auto;
}

#AddTask:hover{
    background: lemonchiffon;
}

.header{
    background-color: rgb(77, 4, 133);
    padding: 30px 50px;
    padding-bottom: 40px;
    color: white;


}
input {
    background: hsl(hsl(234, 23%, 19%));
    border: none;
    border-radius: 2px;
    width: 75%;
    padding: 5px;
    float: left;
    font-size: 16px;
  }